<div class="container-fluid px-0">
  <header class="d-flex flex-wrap justify-content-center py-3 border-bottom bg-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4 px-4" style="color: white;">Sawsthya Seva</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="" class="nav-link" style="color: white;">Home</a></li>
      <li class="nav-item"><a routerLink="/about-us" class="nav-link" style="color: white;">About Us</a></li>
    </ul>
  </header>
</div>

<router-outlet></router-outlet>

<div class="container-fluid px-0 bg-dark mb-0 py-0">
  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a style="color: white;" href="#" class="nav-link px-2">Home</a></li>
      <li class="nav-item"><a style="color: white;" href="#" class="nav-link px-2">About Us</a></li>
    </ul>
    <p class="text-center" style="color: white;" >© 2022 SawsthyaSeva, Inc</p>
  </footer>
</div>