<div class="section" align="center">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content" >
            <p>	Hospital are the essential part of our lives, providing best medical facilities to people suffering from various ailments, which may be due to change in climatic conditions, increased work-load, emotional trauma, stress etc. It is necessary for the hospitals to keep track of its day-to-day activities & records of its patients, doctors that keep the hospital running smoothly & successfully. Our objective is to digitalize all the version of the manual system, and we named it as “Swastya Sewa”.</p>
                <p>
                    The main aim of our project is to provide a paper-less hospital up to 90%. It also aims at providing low-cost reliable digitalization of the existing systems. The proposed system also provides excellent security of data at every level of user-system interaction and also provides robust & reliable storage facility. The purpose of this project is to digitalize, the process of day-to-day activities like registering new Patient, assigning a Doctor to new patient, and finally compute the prescription etc.</p>

                
            </div>
            <div class="social">
                <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="https://img.freepik.com/free-photo/pleased-young-female-doctor-wearing-medical-robe-stethoscope-around-neck-standing-with-closed-posture_409827-254.jpg?w=2000">
        </div>
    </div>
</div>