.main{
    display: flex;
    flex-wrap: nowrap;
}

.sidebar{
    background: linear-gradient(90deg, rgba(173,216,230,1) 11%, rgb(255, 255, 255) 100%, rgba(0,212,255,1) 100%);
}

td,th{
    text-align: center;
}