<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar" style="width: 280px; height:715px;">
        <span style="color:black" class="fs-4">Doctor Dashboard</span>
        <hr style="color:black">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a routerLink="/doctor/profile" class="nav-link" style="color:black">
              Profile
            </a>
          </li>
          <li>
            <a routerLink="/doctor/appointments" class="nav-link" style="color:black">
              Appointments
            </a>
          </li>
          <li>
            <a routerLink="/doctor/prescription" class="nav-link" style="color:black">
              Make Prescription
            </a>
          </li>
          <li>
            <a routerLink="/doctor/search-patient" class="nav-link" style="color:black">
              Search Old Patient
            </a>
          </li>
          <li>
            <a routerLink="/doctor/view-prescription" class="nav-link" style="color:black">
              View Old Prescription
            </a>
          </li>
          <li>
            <a routerLink="/doctor/patient-details" class="nav-link" style="color:black">
              Patient Details
            </a>
          </li>
          <li>
            <a routerLink="/doctor/ipds" class="nav-link" style="color:black">
              Ipd Queue
            </a>
          </li>
          <li>
            <a routerLink="/doctor/checkout-ipd" class="nav-link  active text-white">
              Checkout Ipd
            </a>
          </li>
          <li>
            <a routerLink="" class="nav-link" style="color:black">
              Log Out
            </a>
          </li>
        </ul>
    </div>

    <div class="container mainbar">
        <br>
  
        <div class="row">
          <div class="col-6">
              <p style="font-size: 20px;">{{doctor.name}}<p>
              <p style="font-size: 20px;">{{doctor.phone}}<p>
          </div>
          <div class="col-2">
            <p style="font-size: 20px;">{{ipd.date | date}}<p>
          </div>
        </div>
  
        <hr>
  
        <div class="row">
          <div class="col-4">
              <p style="font-size: 20px;">Patient:- {{ipd.name}}<p>
          </div>
          <div class="col-4">
              <p style="font-size: 20px;">Age:- {{ipd.age}}<p>
          </div>
          <div class="col-4">
              <p style="font-size: 20px;">Gender:- {{ipd.gender}}<p>
          </div>
          <div class="col-6">
              <p style="font-size: 20px;">Contact No:- +91-{{ipd.phone}}<p>
          </div>
          <div class="col-6">
              <p style="font-size: 20px;">Blood Group:- {{ipd.bloodGroup}}<p>
          </div>
        </div>
  
        <hr>
  
        <form>
          <div class="mb-3">
              <label class="form-label" style="font-size: 20px;">Operation Details</label>
              <textarea class="form-control" id="medicines" name="medicines" rows="5" [(ngModel)]="operation"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </form>
  
        <div class="alert" *ngIf="msg === true">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Success!</strong>
        </div>
        
      </div>
</main>    